<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.dega.couchpotatoremote"
    android:versionCode="1"
    android:versionName="1.0">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="no.dega.couchpotatoremote.test" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CouchpotatoTheme">

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieViewActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".AddMovieActivity"
            android:label="@string/title_activity_add_movie"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
        </activity>
        <activity android:name=".LogActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>
